h1 {
    text-align: center;
    color: rgb(12, 105, 187);
}


.navbar {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.navbar.scrolled {
    background: black;
}

body {
    padding-top: 70px;
}


.contactanos {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(45deg, white, #2575fc);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.contactanos:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

.carousel-item img {
    width: 50%;
    height: 300px;
    object-fit: cover;
}

#carouselExampleDark {
    max-width: 800px;
    margin: auto;
}

.carousel-caption,
h5,
p {
    color: white;
}

.d-grid gap-2 col-6 mx-auto,
h3 {
    text-align: center;
}

h2 {
    text-align: center;
}