body {
    padding-top: 70px;
}
.ofrecemos,h3{
    text-align: center;
}

.carousel-item img {
    width: 50%;
    height: 300px;
    object-fit: cover; 
}
#carouselExampleDark {
    max-width: 800px;
    margin: auto; 
}
.carousel-caption, h5, p{
    color: white;
}
.d-grid gap-2 col-6 mx-auto, h3{
    text-align: center;
}
.contactanos {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(45deg, white, #2575fc);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.contactanos:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}